html {
	height: 100%;
}
body {
	margin: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.blackKey {
	position: absolute;
	width: 27px;
	height: 170px;
	border: 1px solid black;
	border-radius: 0 0 6px 6px;
	cursor: pointer;
	background-color: black;
	color: white;
	padding-top: 130px;
	box-shadow: 0 2px #666;
}

.whiteKey {
	width: 46px;
	height: 290px;
	background-color: #FFF;
	border: 1px solid black;
	border-radius: 0 0 6px 6px;
	cursor: pointer;
	padding-top: 250px;
	box-shadow: 0 3px #666;
}


.piano {
	display: flex;
	position: relative;
	margin-bottom: 100px;
}

.demoArea {
	display: flex;
	position: absolute;
	margin-top: 150px;
}

#demoButton {
	font-size:30px;
	width: 300px;
	height: 50px;
	background: transparent;
	color: #f2f2f2;
	border-radius: 5px;
	position: relative;
	transition: all 1000ms ease; 
}

#Digit1 {
	left:32px;
}

#Digit2 {
	left:78px;
}

#Digit4 {
	left:170px;
}

#Digit5 {
	left:216px;
}

#Digit6 {
	left:262px;
}

#Digit8 {
	left:354px;
}

#Digit9 {
	left:400px;
}

#Minus {
	left:492px;
}

#Equal {
	left:538px;
}

#Backspace {
	left:584px;
}